<section class="etl">
  <form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()" style="margin-right: 40px; margin-left: 40px">
    <input type="file" (change)="onFileChange($event)" />
    <button mat-raised-button color="primary" (click)="openDialog()" style="float: right" >
      Next 
    </button>
  </form>

  <br/><br/>

  <div >
    <button *ngFor="let sheet of sheets; index as i;"  (click)="processExcel(null, i)">{{ sheet }}</button>
  </div>

  <div #excelEl ></div>
  
 
</section>