<section class="etl">
  
  <mat-card style="max-width: 800px" fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row wrap" fxLayoutAlign="center">
      <h2>Create an app from an excel spreadsheet!</h2>
    </div>
  
    <div fxLayout="row wrap" fxLayoutAlign="center">
      
      <form [formGroup]="formGroup" novalidate style="margin-right: 40px; margin-left: 40px">
        <input hidden type="file"  #fileInput (change)="onFileChange($event)" />
        <button mat-raised-button color="primary" (click)="fileInput.click()" style="margin-right: 16px">Upload</button>

        <button mat-raised-button color="primary" (click)="openDialog()" *ngIf="headers" style="float: right" >
          Next 
        </button>
      </form>
    </div>
  </mat-card>

  
  <br/>

  

  <div fxLayout="row wrap" fxLayoutAlign="start">
      <div *ngFor="let sheet of sheets; index as i;" fxLayout="column" fxLayoutAlign="start">
          <button  (click)="showSheet(null, i)">{{ sheet }}</button>
          <mat-slide-toggle *ngIf="currentSheetIndex == i" (click)="hideSheet(shetet, i)">Hide</mat-slide-toggle>
        </div>
  </div>
  

  <div #excelEl ></div>
  
 
</section>