.etl {
  // height: 100% !important;
  // min-height: 800px;
  #drop{
    border:2px dashed #bbb;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding:25px;
    text-align:center;
    width:128px;
    font:20pt bold,"Vollkorn";color:#bbb
  }
  
  #left {
    width:188px;
    position:absolute;
    left:0;
  }
  #right {
    position:absolute;
    left:200px;
  }
  #logo {
    padding:25px;
  }
  #header {
    height:168px;
  }
  #grid {
    height: 100px;
    display: none;
  }
  
  .winpt { width:98%; }
  .success { color: #468847; }
  .error { color: #b94a48; }
  .info { color: #3a87ad; }

}

.layout-square {
  display:flex; 
  flex-direction: column; 
  cursor: pointer ;
  background: #3a87ad
}

.layoutImage{
  cursor: pointer;
}

.layoutImage:hover{
  opacity: .6;
}


