<section class="etl">

  <mat-card style="max-width: 800px" fxLayout="column" fxLayoutAlign="center">
    <h2 style="text-align: center" *ngIf="dataService.currentSheetyAppModel">Upload your Excel Spreadsheet</h2>

    <div fxLayout="row wrap" fxLayoutAlign="center">

      <form [formGroup]="formGroup" novalidate style="margin-right: 40px; margin-left: 40px">
        <input hidden type="file" #fileInput (change)="onFileChange($event)" />
        <button mat-raised-button color="primary" (click)="fileInput.click()" style="margin-right: 16px">
          <i class="material-icons">cloud_upload</i> &ngsp; Upload
        </button>

        <button mat-raised-button color="primary" (click)="openLayoutDialog()" *ngIf="headers" style="float: right"
          [@bounceInOnEnter]>
          Next &nbsp; <i class="material-icons">arrow_forward</i>
        </button>

        <!-- 
        <br/><br/>
        <button mat-raised-button color="primary" (click)="getSheetyAppDataModel()">
          Get
        </button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="createSheetyAppDataModel()">
          Create
        </button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="updateSheetyAppDataModel()">
          Update
        </button>  -->
      </form>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center">
      <p>* Please make sure the excel spreadsheet is tabular and the first row are the headers.</p>
      <!-- <a href="data/samples/cars/data.xlxs">Here</a> is an example. -->
    </div>

  </mat-card>


  <br />



  <div fxLayout="row wrap" fxLayoutAlign="start" *ngIf="sheets">
    <div *ngFor="let sheet of sheets; index as i;" fxLayout="column" fxLayoutAlign="start">
      <button (click)="showSheet(null, i)">{{ sheet }}</button>
      <!-- <mat-slide-toggle *ngIf="currentSheetIndex == i" (click)="hideSheet(sheet, i)">Hide</mat-slide-toggle> -->
    </div>
  </div>


  <div #excelEl></div>


</section>