<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>@ViewData["Title"] - thing-faceter</title>
    <base href="~/" />
    <style>
        body {
            font-family: Roboto;
            text-align: center;
        }

        #message {
            max-width: 800px;
            margin: 3em auto auto auto;
        }

        #error-details {
            text-align: left;
            background-color: lightgrey;
            padding: .5%;
        }
    </style>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)

</body>
</html>