<div *ngIf="currentData" class="home-page">
    <div fxLayout="row wrap" fxLayoutAlign="center stretch">
        <mat-card style="margin-right: 20px; margin-bottom:20px; min-width: 200px !important" *ngIf="shouldFacet || Environment.debugFacets">
            <span *ngIf="Environment.debugFacets">Should Facet: {{ shouldFacet }}</span>
            <h2 style="float: left;">Filter</h2>
            <button (click)="filter()" mat-raised-button color="primary" style="float: right">filter</button>
            <br />
            <pre>
                <app-facet #facets></app-facet>
            </pre>
        </mat-card>
        <mat-card style="min-width: 60% !important">
            <mat-card-title>
                <div *ngIf="Environment.debugFacets">
                    <pre>
                        {{ routeParams | json }}
                    </pre>
                    <span>Depth: {{ hierarchyDepth }}</span><br />
                    <span>Count: {{ currentData.length }}</span><br />
                    <span>Current Key: {{ currentKey }}</span><br />
                </div>
            </mat-card-title>
            <mat-card-content>
                <div *ngIf="Environment.debugFacets">
                    <h3>Search Options</h3>
                    <pre>
                        {{ searchOpts | json }}
                    </pre>
                    <hr />
                    <h3>Data</h3>
                </div>
                <mat-accordion *ngIf="shouldFacet">
                    <mat-expansion-panel *ngFor="let item of currentData">
                        <mat-expansion-panel-header>
                            <div *ngIf="!dataService.currentSeachOptions.headerKey">
                                <div *ngFor="let key of searchOpts.keys">
                                    {{ item[key] }}
                                </div>
                            </div>
                            <div *ngIf="dataService.currentSeachOptions.headerKey">
                                {{ item[dataService.currentSeachOptions.headerKey] }}
                            </div>
                        </mat-expansion-panel-header>

                        <!-- <pre *ngIf="item.properties">
                            {{ item.properties | json }} 
                        </pre>  -->
                        <!-- <pre *ngIf="!item.properties">
                            {{ item[currentKey] | json }}
                        </pre>  -->
                        <!-- <pre *ngIf="item.properties[0][0] as hasDuplicateKeys;">
                            has two or more props per key
                            {{ hasDuplicateKeys }}
                        </pre>  -->

                        <!-- for weird data with duplicate things (aka no unique primary key) -->
                        <div *ngIf="item.properties && item.properties[0][0]">
                            <div fxLayoutGap="10px" *ngIf="item.properties[0] as properties">
                                <mat-list class="properties-list">
                                    <h3 mat-subheader>Properties</h3>
                                    <div layout="wrap">
                                        <div fxFlex="50">
                                            <div *ngFor="let prop of properties; index as i">
                                                <mat-list-item *ngIf="i % 2 === 0">
                                                    <h4 mat-line> {{ prop.name }} </h4>
                                                    <p mat-line> {{ prop.value }} </p>
                                                    <mat-divider></mat-divider>
                                                </mat-list-item>
                                            </div>
                                        </div>
                                        <div fxFlex="50">
                                            <div *ngFor="let prop of properties; index as i">
                                                <mat-list-item *ngIf="i % 2 === 1">
                                                    <h4 mat-line> {{ prop.name }} </h4>
                                                    <p mat-line> {{ prop.value }} </p>
                                                    <mat-divider></mat-divider>
                                                </mat-list-item>
                                            </div>
                                        </div>
                                    </div>
                                </mat-list>
                            </div>
                        </div>

                        <!-- for normailzed data-->
                        <div *ngIf="item.properties">
                            <div fxLayoutGap="10px" *ngIf="item.properties as properties">
                                <mat-list class="properties-list">
                                    <h3 mat-subheader>Properties</h3>
                                    <div layout="wrap">
                                        <div fxFlex="50">
                                            <div *ngFor="let prop of properties; index as i">
                                                <mat-list-item *ngIf="i % 2 === 0">
                                                    <h4 mat-line> {{ prop.name }} </h4>
                                                    <p mat-line> {{ prop.value }} </p>
                                                    <mat-divider></mat-divider>
                                                </mat-list-item>
                                            </div>
                                        </div>
                                        <div fxFlex="50">
                                            <div *ngFor="let prop of properties; index as i">
                                                <mat-list-item *ngIf="i % 2 === 1">
                                                    <h4 mat-line> {{ prop.name }} </h4>
                                                    <p mat-line> {{ prop.value }} </p>
                                                    <mat-divider></mat-divider>
                                                </mat-list-item>
                                            </div>
                                        </div>
                                    </div>
                                </mat-list>
                            </div>
                        </div>


                    </mat-expansion-panel>

                </mat-accordion>

                <!-- list of clickable cards -->
                <div *ngIf="!shouldFacet">
                    <div *ngFor="let item of currentData">
                        <div *ngIf="!dataService.currentSeachOptions.headerKey">
                            <mat-card *ngFor="let key of searchOpts.keys" (click)="nav(item[key])" style="cursor:pointer">
                                {{ item[key] }}
                            </mat-card>
                        </div>
                        <mat-card *ngIf="dataService.currentSeachOptions.headerKey" (click)="nav(item[dataService.currentSeachOptions.headerKey])" style="cursor:pointer">
                            {{ item[dataService.currentSeachOptions.headerKey] }}
                        </mat-card>
                    </div>
                </div>


                <p *ngIf="currentData.length == 0" style=" text-align: center">
                    No data found
                </p>

                <pre *ngIf="Environment.debugFacets">
                    {{ currentData | json }}
                </pre>
            </mat-card-content>
        </mat-card>
    </div>


</div>