<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.web>
       <httpRuntime maxQueryStringLength="8192" requestPathInvalidCharacters="" enableVersionHeader="false" relaxedUrlToFileSystemMapping="true"/>
    </system.web>
    <system.webServer>
      <security>
         <requestFiltering allowDoubleEscaping="true">
            <requestLimits maxQueryString="8192"/>
         </requestFiltering>
      </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\thing-faceter.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    </system.webServer>
  </location>
</configuration>