$mat-dow-red: (
    50 : #fde0e7,
    100 : #f9b3c2,
    200 : #f58099,
    300 : #f14d70,
    400 : #ee2652,
    500 : #eb0033,
    600 : #e9002e,
    700 : #e50027,
    800 : #e20020,
    900 : #dd0014,
    A100 : #ffffff,
    A200 : #ffd1d3,
    A400 : #ff9ea3,
    A700 : #ff858a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-dow-yellow: (
    50 : #fff7e6,
    100 : #feebc1,
    200 : #fedd98,
    300 : #fecf6e,
    400 : #fdc54f,
    500 : #fdbb30,
    600 : #fdb52b,
    700 : #fcac24,
    800 : #fca41e,
    900 : #fc9613,
    A100 : #ffffff,
    A200 : #fffbf6,
    A400 : #ffe3c3,
    A700 : #ffd7aa,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-dow-orange: (
    50 : #fdf1e0,
    100 : #fadcb3,
    200 : #f6c580,
    300 : #f2ae4d,
    400 : #f09c26,
    500 : #ed8b00,
    600 : #eb8300,
    700 : #e87800,
    800 : #e56e00,
    900 : #e05b00,
    A100 : #ffffff,
    A200 : #ffe3d4,
    A400 : #ffc1a1,
    A700 : #ffb188,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-dow-dark-orange: (
    50 : #fdece4,
    100 : #fbcebd,
    200 : #f8ae91,
    300 : #f58e64,
    400 : #f37543,
    500 : #f15d22,
    600 : #ef551e,
    700 : #ed4b19,
    800 : #eb4114,
    900 : #e7300c,
    A100 : #ffffff,
    A200 : #ffe2de,
    A400 : #ffb6ab,
    A700 : #ffa091,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-dow-dark-red: (
    50 : #f7e2e8,
    100 : #ecb6c5,
    200 : #df869f,
    300 : #d25678,
    400 : #c9315b,
    500 : #bf0d3e,
    600 : #b90b38,
    700 : #b10930,
    800 : #a90728,
    900 : #9b031b,
    A100 : #ffc6cc,
    A200 : #ff939e,
    A400 : #ff6071,
    A700 : #ff475a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-dow-purple: (
    50 : #ff9bcd,
    100 : #ff4fa6,
    200 : #ff178a,
    300 : #ce0066,
    400 : #b00057,
    500 : #910048,
    600 : #720039,
    700 : #54002a,
    800 : #35001a,
    900 : #17000b,
    A100 : #ff91c8,
    A200 : #ff2b94,
    A400 : #c40061,
    A700 : #aa0055,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-dow-magenta: (
    50 : #ffdaee,
    100 : #ff8eca,
    200 : #ff56b0,
    300 : #ff0e8f,
    400 : #ef007f,
    500 : #d0006f,
    600 : #b1005f,
    700 : #93004e,
    800 : #74003e,
    900 : #56002e,
    A100 : #ffd0e9,
    A200 : #ff6aba,
    A400 : #ff048a,
    A700 : #e9007d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

