<mat-card>
    <mat-card-title><b>GetById</b> API Call Example</mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input #todoId type="number" matInput placeholder="Todo ID" value="1">
            </mat-form-field>
            <button mat-button color="primary" (click)="getTodo(todoId.value)">Get Todo</button>
        </form>
        <mat-card class="todoItem" *ngIf="todo?.userId">
            <mat-card-header>
                <mat-card-title>
                    <b>Title:</b> {{ todo.title }}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p><b>Todo UserId:</b> {{ todo.userId }}</p>
                <p><b>Todo id:</b> {{ todo.id }}</p>
                <p><b>Status:</b> {{ todo.completed ? 'Completed' : 'Not Completed' }}</p>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title><b>GetAll</b> API Call Example</mat-card-title>
    <mat-card-content>
        <button mat-button color="primary" (click)="getAllTodos()">Get All Todos</button>
        <mat-table #table [dataSource]="todosDataSource">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                <mat-cell *matCellDef="let el"> {{ el.id }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="userId">
                <mat-header-cell *matHeaderCellDef> User Id </mat-header-cell>
                <mat-cell *matCellDef="let el"> {{ el.userId }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                <mat-cell *matCellDef="let el"> {{ el.title }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                <mat-cell *matCellDef="let el"> {{ el.completed ? 'Completed' : 'Not Completed' }} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title><b>Create</b> API Call Example</mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input #createTodoUserId type="number" matInput placeholder="Your User Id" value="1">
            </mat-form-field>
            <mat-form-field>
                <input #createTodoTitle matInput placeholder="Your Todo's Title">
            </mat-form-field>
            <mat-checkbox color="primary" [(ngModel)]="todoCompleted" name="status">Completed?</mat-checkbox>
            <button mat-button color="primary" (click)="createTodo({title: createTodoTitle.value, userId: createTodoUserId.value, completed: todoCompleted})">Create Todo</button>
        </form>
        <mat-card class="todoItem" *ngIf="createdTodo?.id">
            <mat-card-header>
                <mat-card-title>
                    <p><b>Created!</b></p>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p><b>Todo id:</b> {{ createdTodo.id }}</p>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title><b>Update</b> API Call Example</mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input #updateTodoId type="number" matInput placeholder="ID of Todo to Update" value="1">
            </mat-form-field>
            <mat-form-field>
                <input #udpateTodoTitle matInput placeholder="New Title">
            </mat-form-field>
            <button mat-button color="primary" (click)="updateTodo(updateTodoId.value, udpateTodoTitle.value)">Update Todo</button>
        </form>
        <mat-card class="todoItem" *ngIf="updatedTodo?.id">
            <mat-card-header>
                <mat-card-title>
                    <p><b>Updated!</b></p>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p><b>Todo id:</b>{{ updatedTodo.id }}</p>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title><b>Delete</b> API Call Example</mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input #deleteTodoId type="number" matInput placeholder="ID of Todo to Update" value="1">
            </mat-form-field>
            <button mat-button color="primary" (click)="deleteTodo(deleteTodoId.value)">Delete Todo</button>
        </form>
        <mat-card class="todoItem" *ngIf="deletedTodo">
            <mat-card-header>
                <mat-card-title>
                    <p><b>Deleted!</b></p>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p><b>Api Response Status Text:</b>{{ " " + deletedTodo }}</p>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>
