.card-category {
    cursor:pointer; 
    width: 200px; 
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

