<div style="display: flex; flex-wrap:wrap; align-items: center; justify-content: center">
    <div *ngFor="let item of currentData" >
        <div *ngIf="!dataService.currentSeachOptions.headerKey">
            <mat-card *ngFor="let key of searchOpts.keys" (click)="nav(item[key])" class="card-category">
                <h2>{{ item[key] }}</h2>
            </mat-card>
        </div>
        <mat-card *ngIf="dataService.currentSeachOptions.headerKey" (click)="nav(item[dataService.currentSeachOptions.headerKey])"
            class="card-category">
            <h2>{{ item[dataService.currentSeachOptions.headerKey] }}</h2>
        </mat-card>
    </div>
</div>

