<form [formGroup]="formFacet" *ngIf="formFacet">
  <mat-expansion-panel *ngFor="let facet of facets; index as i">
    <mat-expansion-panel-header>
      {{ facet.key }}
    </mat-expansion-panel-header>
    <div>
      <div *ngIf="facet.values[0].type =='string'">
        <!-- <mat-selection-list #list [(ngModel)]="selectedOptions" (ngModelChange)="onNgModelChange($event)"> -->
        <mat-selection-list [formControlName]="facet.key">
          <mat-list-option *ngFor="let value of facet.values" [value]="value"  >
            {{ value.value }}
          </mat-list-option>
        </mat-selection-list>
      </div>

      <!-- <div *ngIf="facet.values[0].type !='string'">
        <mat-selection-list [formControlName]="facet.key">
          <mat-list-option>
            {{ facet.min }}
          </mat-list-option>
          <mat-list-option>
            {{ facet.max }}
          </mat-list-option>
        </mat-selection-list>
      </div> -->

    </div>
  </mat-expansion-panel>

  <pre *ngIf="Environment.debugFacets">
    {{ facets | json }}
  </pre>

</form>