<form [formGroup]="formFacet" *ngIf="formFacet">
  <mat-expansion-panel *ngFor="let facet of facets; index as i">
    <mat-expansion-panel-header (click)="facetTouched(facet.key)">
      {{ facet.key }}
    </mat-expansion-panel-header>
    <div>
      <div *ngIf="facet.values[0].type =='string'">
        <!-- <mat-selection-list #list [(ngModel)]="selectedOptions" (ngModelChange)="onNgModelChange($event)"> -->
        <mat-selection-list [formControlName]="facet.key">
          <mat-list-option *ngFor="let value of facet.values" [value]="value"  >
            {{ value.value }}
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div *ngIf="facet.values[0].type !='string'">
        <p>Low value: {{ facet.min }}</p>
        <p>High value: {{ facet.max }}</p> 
        <ng5-slider [options]="facet.options"  [(value)]="facet.min" [(highValue)]="facet.max" [manualRefresh]="sliderRefreshHackEvent" [formControlName]="facet.key"></ng5-slider>
      </div>
    </div>
  </mat-expansion-panel>

  <pre *ngIf="Environment.debugFacets">
    {{ facets | json }}
  </pre>

</form>