<div class="example-container" [class.example-is-mobile]="mobileQuery.matches"> 
    <img class="menu-btn" src="./../assets/sheety.svg" width="32px" (click)="this.sidenavService.toggle()"
        style="float: left; cursor: pointer;">
    <!-- <button mat-icon-button class="menu-btn" (click)="sidenav.toggle()">
        <i class="material-icons">&#xE5D2;</i>
    </button> -->
    <mat-toolbar color="primary">
        <app-header></app-header>
    </mat-toolbar>


    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" position="start" [opened]="!mobileQuery.matches"
            #sidenav class="example-sidenav">
            <mat-list>
                <span *ngIf="Environment.debugFacets">Should Facet: {{ shouldFacet }}</span>
                <button  (click)="filter()" mat-raised-button color="primary" 
                    style="float: right; border-radius: 20px;text-align: center;   position: fixed; top: 85px; width: 150px; margin-left: 16px">Filter <i class="material-icons">
                    filter_list
                    </i></button><br />
                <span style="float: right; cursor: pointer;" onclick="location.reload()">clear &nbsp;&nbsp;&nbsp;
                </span>
                <br /> <br />
                <app-facet #facets *ngIf="shouldFacet"></app-facet>
            </mat-list>

            <!-- <img class="nav-logo" src="/assets/logo.png" />
            
                <mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <span class="med-bold font-size-14">Home</span>
                </mat-list-item>
               -->
        </mat-sidenav>
        <div class="body-content">
            <router-outlet></router-outlet>
        </div>
        <footer>
            <app-footer></app-footer>
        </footer>
    </mat-sidenav-container>
</div>