.layout-sq-card{
    margin-right: 24px;
    min-width: 200px;
    margin-bottom: 24px;
    cursor: pointer;
}  

.layout-selected{
    color: white;
    background:#1e88e5
}

.layout-sq-card:hover{
    background:#1e88e5
}  